.controls {
  font-size: 0.45em;
  align-self: flex-end;

  button {
    background: none;
    border: none;
    margin: 3px;
    padding: 0;

    svg {
      width: 20px;
      height: 20px;
      fill: @edaveBlue;
      opacity: .5;

      :hover {
        cursor: pointer;
      }
    }

    &:focus {
      outline: none;
    }

    &:hover {
      cursor: pointer;
    }
  }
}
