.slide {
  flex-grow: 1;
  flex-direction: column;
  display: flex;
  align-self: center;
  max-width: 100%;
  
  &.title {

    justify-content: center;
    text-align: center;

    h1 {
      font-size: 2em;
      margin: 0.25em;
    }
  }

  &.react-title {
    svg {
      stroke: #000;
      fill: #000;
      stroke-width: 8;
    }

    h1 {
      font-size: 3em;
    }
  }

  &.content {
    font-size: .75em;
    justify-content: center;

    h2 {
      margin: 0 0 .25em;
      text-align: center;
    }

    .children {
      font-size: 0.65em;
      text-align: center;
      max-width: 100%;

      h3 {
        margin: .5em 0;
      }

      pre {
        text-align: left;
      }
      
      .quote {
        max-width: 66%;
        margin: 0 auto;
        font-style: italic;
      }
    }

    > * {
      align-self: center;
    }
  }

  ul, ol {
    text-align: left;
    margin-left: -1em;

    li.selected {
      font-weight: bold;
    }

    &.center {
      display: inline-block;
    }
  }

  input {
    padding: 0.25em;
    font-size: 0.75em;
    display: block;
  }

  .immutable-logo {
    width: 600px;
  }

  iframe {
    border: 0;
    background-color: @edaveBlue;
  }
}